@use "preset";

:root {
    --bg: #fff;
    --text: #000;
}

.dark-theme {
    --bg: #1e1e1e;
    --text: #dadada;
}

html,
body {
    overflow-x: hidden;
}

// Utility classes

.hidden,
.hidden-completed,
.hidden-search,
.hidden-filtered,
.hidden-filtered-completed {
    display: none;
}

.text-center {
    text-align: center;
}

header {
    background-color: salmon;

    @media (min-width: 1150px) {
        display: flex;
        justify-content: space-between;
    }

    .panel-wrapper {
        height: 74px;
        padding: 0 1rem;
        display: flex;
        gap: 1.5rem;
        align-items: center;
        justify-content: space-between;

        @media (min-width: 1150px) {
            padding: 0;
            justify-content: space-around;
            flex-grow: 2;
        }

        .completed-percentage-wrapper {
            text-align: center;
        }

        .quest-search {
            input {
                width: 100%;
                padding: 0.5rem 1rem;
                border-radius: 50px;
                outline: none;
                font-size: 1rem;
            }
        }

        .menu-button {
            width: 32px;
            background-color: transparent;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                transform: scale(1.1);
            }

            @media (min-width: 1150px) {
                display: none;
            }
        }
    }

    .menu-wrapper {
        flex-grow: 3;
        justify-content: space-around;
        width: 100%;
        height: 0;
        overflow: hidden;
        background: salmon;
        color: white;
        z-index: 10;

        @media (min-width: 1150px) {
            overflow: unset;
            height: auto;
            width: fit-content;
            display: flex;
            align-items: center;

            .menu {
                width: 100%;
                display: flex;
                justify-content: space-around;
                gap: 2rem;
            }
        }

        .menu {
            > li {
                height: 65px;
                border-top: 2px solid;
                padding: 0.5rem 1rem;
                display: flex;
                gap: 0.75rem;
                align-items: center;

                &.filters {
                    background-color: salmon;
                    min-height: 70px;
                    max-height: 220px;
                    height: auto;
                    border-bottom: 1px solid;
                    position: relative;

                    @media (min-width: 1150px) {
                        border: none;

                        p {
                            display: none;
                        }
                    }

                    button {
                        display: none;

                        @media (min-width: 1150px) {
                            display: block;
                        }
                    }

                    .filter-options {
                        background-color: inherit;
                        width: 100%;
                        text-align: center;
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                        gap: 1rem;

                        @media (max-width: 570px) {
                            grid-template-columns: repeat(2, minmax(100px, 1fr));
                        }

                        @media (min-width: 571px) and (max-width: 1000px) {
                            grid-template-columns: repeat(4, minmax(100px, 1fr));
                        }

                        @media (min-width: 1001px) {
                            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                        }

                        @media (min-width: 1150px) {
                            // .hidden from utility classes specificity is too low
                            &.hidden {
                                display: none;
                            }

                            padding: 1rem;
                            grid-template-columns: repeat(4, 1fr);
                            min-width: max-content;
                            position: absolute;
                            top: 70px;
                            right: 0;
                        }
                    }
                }

                label {
                    display: block;
                }

                @media (min-width: 1150px) {
                    flex-direction: column-reverse;
                    justify-content: center;
                    padding: 0;
                    border: none;
                    height: unset;
                    align-items: center;
                    gap: 0.5rem;

                    &.theme-switch {
                        order: 5;
                    }

                    &.hide-completed {
                        order: 1;
                    }

                    &.filters {
                        order: 2;
                    }

                    &.import-data {
                        order: 4;
                    }

                    &.export-data {
                        order: 3;
                    }
                }
            }

            // SWITCH BUTTON
            .switch-btn-wrapper {
                display: inline-block;

                .switch-btn {
                    position: relative;
                    display: inline-block;
                    width: 44px;
                    height: 24px;

                    input {
                        opacity: 0;
                        width: 0;
                        height: 0;
                    }

                    .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #ccc;
                        -webkit-transition: 0.4s;
                        transition: 0.4s;
                        border-radius: 34px;
                    }

                    .slider:before {
                        position: absolute;
                        content: "";
                        height: 17px;
                        width: 17px;
                        left: 3px;
                        bottom: 4px;
                        background-color: white;
                        -webkit-transition: 0.4s;
                        transition: 0.4s;
                        border-radius: 50%;
                    }

                    input:checked + .slider {
                        background-color: #2196f3;
                    }

                    input:focus + .slider {
                        box-shadow: 0 0 1px #2196f3;
                    }

                    input:checked + .slider:before {
                        -webkit-transform: translateX(20px);
                        -ms-transform: translateX(20px);
                        transform: translateX(20px);
                    }
                }
            }
        }
    }

    .menu-show {
        height: auto;
    }
}

main {
    background: var(--bg);
    color: var(--text);

    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 16px;

        thead tr th {
            padding: 6px;
            border: 1px solid;
            font-weight: bold;
            text-align: center;
        }

        td {
            padding: 6px;
            border: 1px solid;
            text-align: left;
            word-wrap: break-word;
            overflow-wrap: break-word;
            white-space: normal;

            &.quest-completed {
                text-align: center;
            }

            &.extra-detail {
                min-height: 20px;
            }

            a.extra-detail-link {
                word-break: break-word;
            }

            img {
                margin-right: 0.25rem;
                width: 20px;
                display: inline-block;
            }
        }

        // Make table responsive https://css-tricks.com/responsive-data-tables/
        @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
            /* Force table to not be like tables anymore */
            table,
            thead,
            tbody,
            th,
            td,
            tr {
                display: block;
            }

            /* Hide table headers (but not display: none;, for accessibility) */
            thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
                // display: none;
            }

            tr.quest {
                border-top: 1px solid;
            }

            tr.last-quest-row {
                margin-bottom: 1rem;
            }

            tr .extra-detail {
                min-height: 34px;
            }

            td {
                /* Behave  like a "row" */
                border: none;
                border-bottom: 1px solid;
                position: relative;
                padding-left: 6.5rem;
            }

            td:before {
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 6px;
                left: 6px;
                width: fit-content;
                padding-right: 10px;
                white-space: nowrap;
            }

            td.quest-completed {
                text-align: unset;
            }

            /*
        Label the data
        */

            td:nth-of-type(1):before {
                content: "Location";
            }

            td:nth-of-type(2):before {
                content: "Quest";
            }

            td:nth-of-type(3):before {
                content: "Completed";
            }

            tr .extra-detail::before {
                content: "Extra Detail";
            }
        }
    }
}
